.Burger {
  width: auto;
  margin: auto;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
}

.burger-preview-container {
  overflow-y: auto;
  max-height: 55vh;
}

@media (max-width: 768px) {
  .Burger {
    width: 80%;
  }
}

@media (max-width: 540px) {
  .Burger {
    width: 90%;
  }
}
