.ingredients-margin {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  margin-left: 10px !important;
  margin-right: 0 !important;
}

#ingredients-border {
  border-color: #373737 !important;
}

.ingredient-details {
  border-width: 0 0 0 3px;
  border-color: #373737;
  border-style: solid;
}

#ingredients-tomato {
  border-color: #373737 !important;
  background-color: #db2828 !important;
}

#ingredients-cheese {
  border-color: #373737 !important;
  background-color: #fbbd08 !important;
}

#ingredients-meat {
  border-color: #373737 !important;
  background-color: #a5673f !important;
}

#ingredients-salad {
  border-color: #373737 !important;
  background-color: #21ba45 !important;
}
