.ingredients-margin {
  margin-top: 10px !important;
  margin-left: 10px !important;
  margin-right: 0 !important;
}

#ingredients-border {
  border-color: #373737 !important;
}

.ingredient-details {
  border-width: 0 0 0 3px;
  border-color: #373737;
  border-style: solid;
}
