.receipt-divider-space {
  margin-top: 2em !important;
  margin-bottom: 2em !important;
}

.receipt-total {
  font-size: 3em;
}

.receipt-value {
  font-size: 1.5em;
}

.receipt-icon {
  padding-top: 6px !important;
}

.receipt-place-order {
  width: 176px;
}

#receipt.ui.list>.item>.content {
  line-height: 1.75em;
}

#btn-primary.receipt-button-remove-left-border {
  border-left-width: 0 !important;
}
