.order-remove {
  position: absolute;
  right: -3px;
  top: 1px;
}

.order-main-content {
  height: 350px;
}

@media (max-width: 1201px) {
  .order-main-content {
    height: 250px;
  }
}

@media (max-width: 992px) {
  .order-main-content {
    height: 120px;
  }
}

.order-card {
  border: 3px #373737 solid !important;
  border-radius: 0 !important;
  box-shadow: none !important;
}
