#order-tools-mobile {
  position: fixed !important;
  margin: 14px 0px 0px !important;
  top: 49px;
  right: 23px;
  z-index: 9999;
  transform: translate(0px);
  transition: 0.1s ease-in;
}

.order-tools-container {
  position: fixed;
  top: 8em;
  margin-left: -4px;
}

#order-tools-segment {
  padding: 0 !important;
}

.order-tools-btn-grp {
  border: 3px #373737 solid !important;
  margin-left: 10px !important;
}

.order-tools-btn-grp .ui.button {
  border-radius: 0 !important;
  font-weight: 500;
}

.order-tools-btn-grp .ui.button:hover {
  color: #373737 !important;
  background-color: white !important;
}

#order-tools-toggle.order-tools-btn-grp .ui.button {
  background-color: #373737;
  color: white;
}

#order-tools-toggle.order-tools-btn-grp .ui.active.button {
  background-color: #ffcf44;
  color: black;
}

.order-tools-tool-title {
  font-size: 1.25em;
  font-weight: 600;
  margin-left: 10px;
  /* border: 3px #373737 solid !important;
  background-color: #cccccc;
  padding: 7px 15px 9px 15px !important;
  top: 1px; */
}

.order-tools-divider {
  border-right-color: #373737 !important;
  border-right-style: solid !important;
  border-right-width: 3px !important;
}
