#order-tools-mobile {
  position: fixed !important;
  margin: 14px 0px 0px !important;
  top: 49px;
  right: 23px;
  z-index: 9999;
  transform: translate(0px);
  transition: 0.1s ease-in;
}

.order-tools-container {
  margin-top: 15vh;
}

#order-tools-segment {
  padding: 10px !important;
  border-radius: 0 !important;
  font-size: 1.25em;
  background-color: #cccccc !important;
  color: #373737;
  font-family: 'Rubik', sans-serif !important;
  font-weight: 600 !important;
  border: 3px #373737 solid !important;
  text-align: end;
}
